* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 2fr 7fr;
}

p {
  font-size: 14px;
  color: gray;
}

h1 {
  font-size: 20px;
}

.side-bar {
  background-color: #1976d2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  color: white;
  align-content: start;
  row-gap: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title img {
  filter: invert(1);
  width: 32px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

header {
  padding: 10px 40px;
  display: grid;
  row-gap: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 20px;
}

.avatar-wrapper {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: beige;
  overflow: hidden;
}

.avatar-wrapper img {
  width: 100%;
}

input {
  width: 450px;
  height: 24px;
  border-radius: 24px;
  border: none;
  background-color: #e8ecf0;
}

.avatar-wrapper-big {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: beige;
  overflow: hidden;
}

.avatar-wrapper-big img {
  width: 100%;
}

button {
  padding: 6px 20px;
  border-radius: 16px;
  border: none;
  background-color: #1976d2;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 20px;
  gap: 18px;
  background-color: #e8ecf0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 6px;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 24px 16px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #f5a623;
  display: flex;
  flex-direction: column;
}

.icon-row {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 28px;
}

.widgets {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.widgets .card {
  border: none;
  margin-top: 6px;
  gap: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.widgets p {
  font-size: 10px;
}

.widget-text {
  padding-bottom: 13px;
  border-bottom: 1px solid #e0e0e0;
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-name h6 {
  font-weight: normal;
}
