* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 2fr 7fr;
}

.side-bar {
  background-color: blue;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  color: white;
  align-content: start;
  row-gap: 50px;
  padding: 10px 20px;
}

li {
  list-style: none;
}

.content {
}

header {
  padding: 10px 40px;
  display: grid;
  row-gap: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

#icon {
  width: 20px;
}

.avatar-wrapper {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  background-color: beige;
}

input {
  width: 450px;
  height: 24px;
  border-radius: 24px;
  border: none;
  background-color: #e8ecf0;
}

.avatar-wrapper-big {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: beige;
}

button {
  padding: 6px 20px;
  border-radius: 16px;
  border: none;
  background-color: blue;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 20px;
  background-color: #e8ecf0;
  height: 100vh;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
