* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 2fr 7fr;
}

.side-bar {
  background-color: blue;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto;
  color: white;
  align-content: start;
  row-gap: 50px;
  padding: 20px;
}

li {
  list-style: none;
}

.content {
}
